@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Noto Sans KR", "Roboto", sans-serif;
  background-color: #e6e1d8;
}

/* table */
th:nth-child(1),
td:nth-child(1) {
  width: 10%;
}
th:nth-child(2),
td:nth-child(2) {
  width: 30%;
}
th:nth-child(3),
td:nth-child(3) {
  width: 10%;
}
th:nth-child(4),
td:nth-child(4) {
  width: 10%;
}
th:nth-child(5),
td:nth-child(5) {
  width: 25%;
}
th:nth-child(6),
td:nth-child(6) {
  width: 15%;
}

/* Scroll */
.scroll_custom::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
  border-radius: 0 0 16px 0;
}

.scroll_custom::-webkit-scrollbar-thumb {
  height: 10%;
  background: #4e4e4e;
  border-radius: 10px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
